<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>FileUploadDBServlet</servlet-name>
        <servlet-class>FileUploadDBServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestHandel</servlet-name>
        <servlet-class>RequestHandel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Product</servlet-name>
        <servlet-class>Product</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileUpload</servlet-name>
        <servlet-class>FileUpload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayItem</servlet-name>
        <servlet-class>DisplayItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewItem</servlet-name>
        <servlet-class>ViewItem</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FileUploadDBServlet</servlet-name>
        <url-pattern>/FileUploadDBServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestHandel</servlet-name>
        <url-pattern>/RequestHandel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Product</servlet-name>
        <url-pattern>/Product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileUpload</servlet-name>
        <url-pattern>/FileUpload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayItem</servlet-name>
        <url-pattern>/DisplayItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewItem</servlet-name>
        <url-pattern>/ViewItem</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
